.select2-container--default .select2-selection--single{
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px)!important;
    padding: .625rem .75rem!important;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid #cad1d7;
    border-radius: .375rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    top: 21px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 28px;
    font-size: 0.9rem;
    color: #8898aa;
}

.btn-invoice{
    margin-top: 32px;
}